.chartbar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartbar-inner {
  height: 100px;
  width: 17px;
  border: solid 1px rgb(171, 166, 166);
  color: aliceblue;
  background-color: rgb(127, 188, 188);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.chartbar-month {
  margin-top: 5px;
  font-size: 10px;
}

.chartbar-fill {
  background-color: rgb(84 89 177);
  width: 100%;
}
