.expense-date {
  border: solid white 1px;
  background-color: black;
  width: 70px;
  padding: 3px 15px;
}

.expense-date-date {
  font-size: 20px;
  font-weight: bolder;
}

.expense-date-month {
  font-size: 16px;
  font-weight: bold;
}

.expense-date-year {
  font-size: 12px;
}
