.new-expense__controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 100px;
}

.new-expense__control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  padding-right: 30px;
}

.new-expense__control label {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

.new-expense__control input {
  border-radius: 5px;
  height: 30px;
  width: 100%;
  border: none;
}

.new-expense__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.new-expense__actions button {
  background-color: rgb(12, 44, 44);
  padding: 15px 15px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  margin-left: 15px;
}
